<div style="width:50%;heigh:50%"><h3>{% trans "Grid supply gas and electricity" %}</h3>
  <canvas id="canvas"></canvas>
</div>
<script>

  var barChartData = {
    labels: ["Without Electric Storage", "Without Electric Storage" ],
    datasets: [{
      data: [
      {{ toGraph.WithOut_Autarky }}, {{ toGraph.With_Autarky }}
      ],
      type: "line",
      label: "Autarky",
      fill: false,
      backgroundColor: "#fff",
      borderColor: "#70cbf4",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      lineTension: 0.3,
      pointBackgroundColor: "#fff",
      pointBorderColor: "#70cbf4",
      pointBorderWidth: 1,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "#70cbf4",
      pointHoverBorderColor: "#70cbf4",
      pointHoverBorderWidth: 2,
      pointRadius: 4,
      pointHitRadius: 10
    },  {
      label: "TotalGasFlowFromGrid"
      backgroundColor: "#aad700",
      yAxisID: "bar-y-axis",
      data: [
      {{ toGraph.WithOut_TotalGasFlowFromGrid }}, {{ toGraph.With_TotalGasFlowFromGrid }}
      ]
    }, {
      label: "ElectricityFromGrid",
      backgroundColor: "#ffe100",
      yAxisID: "bar-y-axis",
      data: [
      {{ toGraph.WithOut_ElectricityFromGrid }}, {{ toGraph.With_ElectricityFromGrid }}
      ]
    },]
  };

  window.onload = function() {
    var ctx = document.getElementById("canvas").getContext("2d");
    window.myBar = new Chart(ctx, {
      type: 'bar',
      data: barChartData,
      options: {
        title: {
          display: true,
          text: "Grid supply (gas and electricity)"
        },
        tooltips: {
          mode: 'label'
        },
        responsive: true,
        scales: {
          xAxes: [{
            stacked: true,
          }],
          yAxes: [{
            stacked: false,
            ticks: {
              beginAtZero: true,
              min: 0,
              max: 1500
            }
          }, {
            id: "bar-y-axis",
            stacked: true,
            display: false, //optional
            ticks: {
              beginAtZero: true,
              min: 0,
              max: 1500
            },
            type: 'linear'
          }]
        }
      }
    });
  };
</script> 
