<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!---bootsatrap 5.1 collapse-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

  <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<!--fontsawesome--->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<!--endfontsawesome-->
    <!-- Custom CSS-->
    <link rel="stylesheet" href="/static/style.css">
    <!--end of custom CSS-->
    <!--chartsjs.org-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <!---end of chartsjs-->
    <title>Title</title>
    <script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
    <style type="text/css">

body {
  background-color: #023d6b;
  font-size:27px;
  font: Arial, Sans-Serif;

}
h2,h3
{color:white;}
p
{ color:white;
  }


img{
padding:14px 16px;}
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}
form {
 display: block;
  color: white;
  text-align: left;
  font-family: Arial, sans-serif;
  padding: 14px 16px;
 text-decoration: none;
  font-size: 25px;
}
li a {
  display: block;
  color: #023d6b;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 24px 46px;
 text-decoration: none;
  font-size: 29px;
}
.scheme {

float:right;


}
.form-check-input, input [type="radio"]{
padding: 16px 16px;
}
p, container, checkbox{

 padding-top: center;
    padding-left: center;
}


    </style>
    <title>Home Page</title>
  </head>
  <body>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
  <div id="logo" style="background-image:
    url('/pict/logo.jpg");
    width: 50px; height: 50px; background-size: contain;
    background-repeat:no-repeat; float: left">
</div>
<!---nav bar--->


</div>
<!--<h1> Calculate cost-effective and environmentally friendly heating options for households and neighbourhoods</h1>-->
<ul>

    <li><a href="contact.asp">Home Page</a></li>
  <li><a href="contact.asp">Admin Profile</a></li>
  <li><a href="about.asp">About</a></li>
    <li><a href="default.asp">Contact</a></li>
    <li><a href="default.asp">Log Out</a></li>
  <li></li>
</ul>
<!----
<container>

  <form class="row g-3">

<h3>Location</h3><a href="map.html"></a>
  <div class="col-sm-3">

  <div class="row mt-4">
    <div class="col-md-10 offset-md-1">
      Map {{ m|safe }}


  </div></div>
  </div></form>
</container>
-->
<container>{% block content %}

<br>
  <div class="row align-items-center">
         <div class="col">
             <form method="POST" action="">{% csrf_token %}
                 <div class="input-group">
                     <div class="input-group-prepend">
                         <span class="input-group-text" >Electrical energy consumption </span>
                     </div>
                     <input type="text" class="form-control" name="electricalenergyconsumption" id="electricalenergyconsumption" max="200" min='50' value="100" onchange="rangeelectricalenergyconsumption.value = electricalenergyconsumption.value"/>
                     <input type="range" oninput="electricalenergyconsumption.value = rangeelectricalenergyconsumption.value" class="form-control-range slider" type="range" min="50" max="200" value="100" id="rangeelectricalenergyconsumption" step="10" onchange="electricalenergyconsumption.value = rangeelectricalenergyconsumption.value" >
                 </div>
         </div>
  </div>
</container>
<br>

<container>
        <div class="row align-items-center mx-auto">
           <div class="col">
               <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Expert Mode
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                            <div class="row align-items-center mx-md-auto">
                                <div class="col">
                                    <select class="form-select" aria-label="Default select example" name="electricalenergyprofiletype" id="electricalenergyprofiletype">
                                        <option selected>Electrical energy profile type</option>
                                        <option value="Profile One">Profile One</option>
                                        <option value="Profile Two">Profile Two</option>
                                        <option value="Profile Two">Profile Three</option>
                                    </select>
                                </div></div>
                                <br>
                              <div class="row align-items-center mx-md-auto">
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" >Thermal building type</span>
                                        </div>
                                        <input type="text" class="form-control" name="thermalbuildingtype" id="thermalbuildingtype" max="200" min='25' value="75" onchange="rangethermalbuildingtype.value = thermalbuildingtype.value"/>
                                        <input type="range" oninput="thermalbuildingtype.value = rangethermalbuildingtype.value" class="form-control-range slider" type="range" min="25" max="200" value="75" id="rangethermalbuildingtype" step="75" onchange="thermalbuildingtype.value = rangethermalbuildingtype.value" >
                                    </div>
                                </div>
                                <br>

                                <div class="col">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" >Building size in m²</span>
                                            </div>
                                            <input type="text" class="form-control" name="buildingsize" id="buildingsize" min="140" max="1750" value="200"  onchange="rangebuildingsize.value = buildingsize.value"/>
                                            <input type="range" oninput="buildingsize.value = rangebuildingsize.value" class="form-control-range slider" type="range" min="140" max="1750" step="70" value="200" id="rangebuildingsize" step="75" onchange="buildingsize.value = rangebuildingsize.value" >
                                        </div>
                                    </div>
                              </div>
                        </div>
                    </div>
                </div>
               </div>

               <div class="row align-items-center mx-auto">
                   <div class="col" align="right">
                       <button type="submit" class="btn btn-success mt-3">Send</button>
                   </div>
               </div>
            </form>
               {% endblock %}
</container>

  </div>
</div>
<div class="row align-items-right mx-md-auto mt-3">
    <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="/">1</a></li>
    <li class="page-item"><a class="page-link" href="">2</a></li>
    <li class="page-item"><a class="page-link" href="page3.html">3</a></li>
    <li class="page-item">
      <a class="page-link" href="tos.html">Next</a>
    </li>
  </ul>
</nav>
</div></div>
</body>
</html>