<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <!---bootsatrap 5.1 collapse-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>



  <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<!--fontsawesome--->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<!--endfontsawesome-->
    <!-- Custom CSS-->
    <link rel="stylesheet" href="/static/style.css">
    <!--end of custom CSS-->
    <!--chartsjs.org-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <!---end of chartsjs-->
    <title>Title</title>
    <script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
    <style type="text/css">

body {
  background-color: #023d6b;
  font-size:27px;
  font: Arial, Sans-Serif;

}
h2,h3
{color:white;}
p
{ color:white;
  }


img{
padding:14px 16px;}
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}
form {
 display: block;
  color: white;
  text-align: left;
  font-family: Arial, sans-serif;
  padding: 14px 16px;
 text-decoration: none;
  font-size: 25px;
}
li a {
  display: block;
  color: #023d6b;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 24px 46px;
 text-decoration: none;
  font-size: 29px;
}
.scheme {

float:right;


}
.form-check-input, input [type="radio"]{
padding: 16px 16px;
}
p, container, checkbox{

 padding-top: center;
    padding-left: center;
}


    </style>
    <title>Home Page</title>
  </head>
  <body>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
  <div id="logo" style="background-image:
    url('/pict/logo.jpg");
    width: 50px; height: 50px; background-size: contain;
    background-repeat:no-repeat; float: left">
</div>
<!---nav bar--->


</div>
<!--<h1> Calculate cost-effective and environmentally friendly heating options for households and neighbourhoods</h1>-->
<ul>

    <li><a href="contact.asp">Home Page</a></li>
  <li><a href="contact.asp">Admin Profile</a></li>
  <li><a href="about.asp">About</a></li>
    <li><a href="default.asp">Contact</a></li>
    <li><a href="default.asp">Log Out</a></li>
  <li></li>
</ul>
<!----
<container>

  <form class="row g-3">

<h3>Location</h3><a href="map.html"></a>
  <div class="col-sm-3">

  <div class="row mt-4">
    <div class="col-md-10 offset-md-1">
      Map {{ m|safe }}


  </div></div>
  </div></form>
</container>
-->{% block content %}
<container><br><form method="POST" action="">{% csrf_token %}

    <div class="row align-items-center mx-auto">
   <div class="col">
     <div class="input-group"><br>
                                                                                                                                                                  <div class="input-group-prepend">
<span class="input-group-text" >Number of persons </span></div>
<input type="text" class="form-control" name="numofpersonsi" id="numofpersonsi" max="6" min='1' value="2" onchange="numofpersonsr.value = numofpersonsi.value"/>
<input type="range" oninput="numofpersonsi.value = numofpersonsr.value" class="form-control-range slider" type="range" min="1" max="6" value="2" id="numofpersonsr" step="1" onchange="numofpersonsi.value = numofpersonsr.value" ></div>
  </div></div><br>
           <div class="col">
     <div class="input-group">
                                                                                                                                                                  <div class="input-group-prepend">
<span class="input-group-text" > Electrical energy consumption </span></div>
<input type="text" class="form-control" name="electricalenergyconsumptioni" id="electricalenergyconsumptioni" max="8000" min='2000' value="4000" onchange="electricalenergyconsumptionr.value = electricalenergyconsumptioni.value"/>
<input type="range" oninput="electricalenergyconsumptioni.value = electricalenergyconsumptionr.value" class="form-control-range slider" type="range" min="2000" max="8000" value="4000" id="electricalenergyconsumptionr" step="500" onchange="electricalenergyconsumptioni.value = electricalenergyconsumptionr.value" ></div>
           </div></div><br>


    <div class="row align-items-center mx-auto">
   <div class="col">
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
       Expert Mode
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">  <div class="card card-body">
<div class="row align-items-center g-3 needs-validation">
   <div class="col">
<div class="input-group">                                                                                                                                                                  <div class="input-group-prepend">
<span class="input-group-text" > DHW energy consumption </span></div>
<input type="text" class="form-control" name="dhwenergyconsumptioni" id="dhwenergyconsumptioni" max="8000" min='2000' value="3000" onchange="dhwenergyconsumptionr.value = dhwenergyconsumptioni.value"/>
<input type="range" oninput="dhwenergyconsumptioni.value = dhwenergyconsumptionr.value" class="form-control-range slider" type="range" min="2000" max="8000" value="3000" id="dhwenergyconsumptionr" step="500" onchange="dhwenergyconsumptioni.value = dhwenergyconsumptionr.value" ></div>
   </div><br>

   <div class="col">
<div class="input-group">                                                                                                                                                                  <div class="input-group-prepend">
<span class="input-group-text" > Building size in m²  </span></div>
<input type="text" class="form-control" name="buildingsizei" id="buildingsizei" max="250" min='100' value="120" onchange="buildingsizer.value = buildingsizei.value"/>
<input type="range" oninput="buildingsizei.value = buildingsizer.value" class="form-control-range slider" type="range" min="100" max="250" value="120" id="buildingsizer" step="50" onchange="buildingsizei.value = buildingsizer.value" ></div>
   </div></div></p>

      </div></div></div></div></div>
    <div class="row align-items-right">
        <div class="col" align="right">
            <button type="submit" class="btn btn-success mt-3">Send
            </button>
        </div>
    </div>
</form>{% endblock %}
<br>








<div class="row align-items-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
    <li class="page-item"><a class="page-link" href="/">1</a></li>
    <li class="page-item"><a class="page-link" href="">2</a></li>
    <li class="page-item"><a class="page-link" href="page3.html">3</a></li>
    <li class="page-item">
      <a class="page-link" href="tos.html">Next</a>
    </li>
  </ul>
</nav>
</div>
</container>
</body>
</html>