<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

    <!---plotly carpet--->
        <script src="https://cdn.plot.ly/plotly-2.6.3.min.js"></script>
<script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>
    <script src="plotly-2.8.3.min.js"></script>
	<script src="plotly-2.6.3.min.js"></script>
<!--collapse bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

      <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<!--fontsawesome--->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<!--endfontsawesome-->
    <!-- Custom CSS-->
    <link rel="stylesheet" href="/static/style.css">
    <!--end of custom CSS-->
    <!--chartsjs.org-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script type="text/javascript" src="jquery-3.1.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <!---end of chartsjs-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

<!----Frappe charts--->
 <script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.2.4/dist/frappe-charts.min.iife.js"></script>
      <script src="https://unpkg.com/frappe-charts@latest"></script>
  <!-- or -->
  <script src="https://unpkg.com/frappe-charts@1.2.4/dist/frappe-charts.min.iife.js"></script>

<canvas id="creditSat"></canvas>

    <script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
    <style type="text/css">

body {
  background-color: #023d6b;
  font-size:27px;
  font: Arial, Sans-Serif;
}
.col-md-6:first-child {
  background-color: #adbde3;
}
img{
padding:14px 16px;}
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}
form {
 display: block;
  color: white;
  text-align: left;
  font-family: Arial, sans-serif;
  padding: 184px 46px;
 text-decoration: none;
  font-size: 25px;
}
li a {
  display: block;
  color: #023d6b;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 24px 46px;
 text-decoration: none;
  font-size: 29px;
}
.scheme {

float:right;


}

/* Change the link color to #adbde3 (blue) on hover */
li a:hover {
  background-color: #ebebeb;
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
body {
  background-color: #023d6b;
  font-size:27px;
  font: Arial, Sans-Serif;

}
h2,h3,h4
{color:white;}
p
{ color:white;
  }


img{
padding:14px 16px;}
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}
form {
 display: block;
  color: white;
  text-align: left;
  font-family: Arial, sans-serif;
  padding: 14px 16px;
 text-decoration: none;
  font-size: 25px;
}
li a {
  display: block;
  color: #023d6b;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 24px 46px;
 text-decoration: none;
  font-size: 29px;
}
.scheme {

float:right;


}
.form-check-input, input [type="radio"]{
padding: 16px 16px;
}
p, container, checkbox{

 padding-top: center;
    padding-left: center;
}
.navbar {
    position: relative;
}
.brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}
.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  height: 0;
  overflow: hidden;
  @include transition($transition-collapse);

  &.collapse-horizontal {
    width: 0;
    height: auto;
    @include transition($transition-collapse-width);
  }
{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
    </style>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home Page</title>
  </head>
  <body>

<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

  <div id="logo" style="background-image:
    url('/pict/logo.jpg");
    width: 50px; height: 50px; background-size: contain;
    background-repeat:no-repeat; float: left">
</div>
<!---nav bar--->
<ul>
    <li><a href="contact.asp">Home Page</a></li>
  <li><a href="contact.asp">Admin Profile</a></li>
  <li><a href="about.asp">About</a></li>
    <li><a href="default.asp">Contact</a></li>
    <li><a href="default.asp">Log Out</a></li>
</ul>
<br>
<br>

<div class="sticky-top"><div class="container"><div class="accordion" id="accordionExampleMy">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingMy">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMy" aria-expanded="true" aria-controls="collapseMy">
        Summary
      </button>
    </h2>
    <div id="collapseMy" class="accordion-collapse collapse show" aria-labelledby="headingOneMy" data-bs-parent="#accordionExampleMy">
      <div class="accordion-body">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      </div>
    </div>
  </div></div></div></div></div>



<div class="content">
<br>
    <div class="container">
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Energetic Results
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
    <div class="container>

<div class="bg-white style="width:900px;height:300px;">Grid supply (gas and electricity)
<div id="frost-chart"></div>
  <script>
let page_chart = function(){
let chart = new frappe.Chart( "#frost-chart", { // or DOM element
	data: {
	labels: ['Without PV/CHP', ' Without electric storages', ' With electric storages', ' kWh battery', 'kWh hydrogen'],

	datasets: [
		{
			name: "Some Data", chartType: 'bar',
			values: [25, 40, 30, 35, 8, 52, 17, 4]
		},
		{
			name: "Another Set", chartType: 'bar',
			values: [25, 50, 10, 15, 18, 32, 27, 14]
		},
		{
			name: "Yet Another", chartType: 'line',
			values: [15, 20, 3, 15, 58, 12, 1, 37]
		}
	],

	yMarkers: [{ label: "# Grid supply (gas and electricity) in kWh/a'", value: 70,
		options: { labelPos: 'left' }}],
	yRegions: [{ label: "# Degree of self-sufficiency", start: -10, end: 50,
		options: { labelPos: 'right' }}]
	},

	title: "Electricity grid demand",
	type: 'axis-mixed', // or 'bar', 'line', 'pie', 'percentage'
	height: 300,
	colors: ['#faeb5a', '#eb5f73', '#af82b9'],

	tooltipOptions: {
		formatTooltipX: d => (d + '').toUpperCase(),
		formatTooltipY: d => d + ' pts',
	}
  });

  chart.export();}
  page_chart();
</script></div><br>
<div class="bg-white" style="width:900px;height:300px;"><h3>Grid feed-in (PV and CHP)</h3>
<div id="frost-chart1"></div>
   <script>
let page_chart1 = function(){
let chart1 = new frappe.Chart( "#frost-chart1", { // or DOM element
	data: {
	labels: ['Without PV/CHP', ' Without electric storages', ' With electric storages', ' kWh battery', 'kWh hydrogen'],

	datasets: [
		{
			name: "Some Data", chartType: 'bar',
			values: [25, 40, 30, 35, 8, 52, 17, 4]
		},
		{
			name: "Another Set", chartType: 'bar',
			values: [25, 50, 10, 15, 18, 32, 27, 14]
		},
		{
			name: "Yet Another", chartType: 'line',
			values: [15, 20, 3, 15, 58, 12, 1, 37]
		}
	],

	yMarkers: [{ label: "Grid feed-in (PV and CHP)'", value: 70,
		options: { labelPos: 'left' }}],
	yRegions: [{ label: "self-consumption rate.", start: -10, end: 50,
		options: { labelPos: 'right' }}]
	},

	title: "Electricity grid demand",
	type: 'axis-mixed', // or 'bar', 'line', 'pie', 'percentage'
	height: 300,
	colors: ['#faeb5a', '#eb5f73', '#af82b9'],

	tooltipOptions: {
		formatTooltipX: d => (d + '').toUpperCase(),
		formatTooltipY: d => d + ' pts',
	}
  });

  chart1.export();}
  page_chart1();</script></div><br>

<div id="myDiv1" style="width:600px;height:350px;"></div>
    <script>var x = [];
var y = [];
for (var i = 0; i < 500; i ++) {
	x[i] = Math.random();
	y[i] = Math.random() + 1;
}

var data = [
  {
    x: x,
    y: y,
    type: 'histogram2d'
  }
];
Plotly.newPlot('myDiv1', data);
</script>
 </div><br>
   </div></div></div>


    <br>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        Economic Results
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">


    <div class="container">


     <div id="myDiv3" style="width:900px;height:300px;"></div>
    <script> var trace1 = {
  x: ['Without PV/CHP', ' Without electric storages', ' With electric storages', ' kWh battery', 'kWh hydrogen'],
  y: [20, 14, 25, 16, 18, 22, 19, 15, 12, 16, 14, 17],
  type: 'bar',
  name: 'Grid supply costs (gas and electricity) in €/year',
  marker: {
    color: 'rgb(185,210,95)',
    opacity: 0.7,
  }
};

var trace2 = {
  x: ['Without PV/CHP', ' Without electric storages', ' With electric storages', ' kWh battery', 'kWh hydrogen'],
  y: [19, 14, 22, 14, 16, 19, 15, 14, 10, 12, 12, 16],
  type: 'bar',
  name: 'Grid feed-in revenues (PV and CHP) in €/year',
  marker: {
    color: 'rgb(175,130,185)',
    opacity: 0.5
  }
};

var data = [trace1, trace2];

var layout = {
  title: 'Grid supply costs in €/a.',
  xaxis: {
    tickangle: -45
  },
  barmode: 'group'
};

Plotly.newPlot('myDiv3', data, layout);</script><br>

<div class="bg-white" style="width:900px;height:300px;"><h3>Grid feed-in (PV and CHP)</h3>
<div id="frost-chart2"></div>
<script>
let page_chart2 = function(){
let chart2 = new frappe.Chart( "#frost-chart2", { // or DOM element
	data: {
	labels: ['with electric storages', ' Without electric storages', ' With electric storages', ' kWh battery', 'kWh hydrogen'],

	datasets: [
		{
			name: "Some Data", chartType: 'bar',
			values: [25, 40, 30, 35, 8, 52, 17, 4]
		},
		{
			name: "Another Set", chartType: 'bar',
			values: [25, 50, 10, 15, 18, 32, 27, 14]
		},
		{
			name: "Yet Another", chartType: 'line',
			values: [15, 20, 3, 15, 58, 12, 1, 37]
		}
	],

	yMarkers: [{ label: "Net present value in €", value: 70,
		options: { labelPos: 'left' }}],
	yRegions: [{ label: "paypack period", start: -10, end: 50,
		options: { labelPos: 'right' }}]
	},

	title: "Net present value in €",
	type: 'axis-mixed', // or 'bar', 'line', 'pie', 'percentage'
	height: 300,
	colors: ['#faeb5a', '#eb5f73', '#af82b9'],

	tooltipOptions: {
		formatTooltipX: d => (d + '').toUpperCase(),
		formatTooltipY: d => d + ' pts',
	}
  });

  chart2.export();}
  page_chart2();</script></div><br>

  <div id="myDiv4"></div>
<script>
var x = [];
var y = [];
for (var i = 0; i < 500; i ++) {
	x[i] = Math.random();
	y[i] = Math.random() + 1;
}

var data = [
  {
    x: x,
    y: y,
    type: 'histogram2d'
  }
];
Plotly.newPlot('myDiv4', data);

</script>
    <br>

    <div id="myDiv7"></div>
<script>var x = [];
var y = [];
for (var i = 0; i < 500; i ++) {
	x[i] = Math.random();
	y[i] = Math.random() + 1;
}

var data = [
  {
    x: x,
    y: y,
    type: 'histogram2d'
  }
];
Plotly.newPlot('myDiv7', data);


</script><br>



                                    <div class="input-group">
                                                                                                                                                                  <div class="input-group-prepend">
<span class="input-group-text" > Total investment costs for smallest storage</span></div>
<input type="text" class="form-control" name="input_text18" id="input_text18" max="1000" min='10' value="15" onchange="rangeinput18.value = input_text18.value"/>
<input type="range" oninput="input_text18.value = rangeinput18.value" class="form-control-range slider" type="range" min="10" max="1000" value="20" id="rangeinput18" step="1" onchange="input_text18.value = rangeinput18.value" ></div>
<br>





                                    <div class="input-group">
                                                                                                                                                                  <div class="input-group-prepend">
<span class="input-group-text" > Total investment costs for biggest storages</span></div>
<input type="text" class="form-control" name="input_text17" id="input_text17" max="1000" min='10' value="15" onchange="rangeinput15.value = input_text17.value"/>
<input type="range" oninput="input_text17.value = rangeinput17.value" class="form-control-range slider" type="range" min="10" max="1000" value="20" id="rangeinput17" step="1" onchange="input_text17.value = rangeinput17.value" ></div>
<br>
   <h3> Grid Supply Costs</h3>

    <h3>Grid feed in revenues</h3>


    <h3>Shortest paypack period (?? years) and highest net present value (?? €) are realized with a battery capacity of ?? kWh.
    </h3></div></div></div></div>
<br>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
        Economic Parameters
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body"><div class="container">


          <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Electricity
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"><div class="row align-items-center">
   <div class="col">



                                    <div class="input-group">
                                                                                                                                                                  <div class="input-group-prepend">
<span class="input-group-text" >Fixed costs per year in €/year or €/kW</span></div>
<input type="text" class="form-control" name="input_text13" id="input_text13" max="1000" min='10' value="15" onchange="rangeinput13.value = input_text13.value"/>
<input type="range" oninput="input_text13.value = rangeinput13.value" class="form-control-range slider" type="range" min="10" max="1000" value="20" id="rangeinput13" step="1" onchange="input_text13.value = rangeinput13.value" ></div>
   </div><br>  <div class="col">


        <div class="input-group">
                                                                                                                                                                  <div class="input-group-prepend">
<span class="input-group-text" >Сosts per kWh in €</span></div>
<input type="text" class="form-control" name="input_text14" id="input_text14" max="1" min='0.01' value="0.05" onchange="rangeinput14.value = input_text14.value"/>
<input type="range" oninput="input_text14.value = rangeinput14.value" class="form-control-range slider" type="range" min="0.01" max="1" value="0.05" id="rangeinput14" step="0.01" onchange="input_text14.value = rangeinput14.value" ></div>
      </div></div><div><br> <div class="row align-items-center"> <div class="col">
        <div class="input-group">
                                                                                                                                                                  <div class="input-group-prepend">
<span class="input-group-text" >Feed-in tarif for photovoltaic in €/kWh</span></div>
<input type="text" class="form-control" name="input_text15" id="input_text15" max="0.5" min='0' value="0.2" onchange="rangeinput15.value = input_text14.value"/>
<input type="range" oninput="input_text15.value = rangeinput15.value" class="form-control-range slider" type="range" min="0" max="0.5" value="0.2" id="rangeinput15" step="0.1" onchange="input_text15.value = rangeinput15.value" ></div>
      </div><br>  <div class="col">



        <div class="input-group">
                                                                                                                                                                  <div class="input-group-prepend">
<span class="input-group-text" >Feed-in tariff for combined heat and power €/kWh</span></div>
<input type="text" class="form-control" name="input_text16" id="input_text16" max="0.5" min='0' value="0.2" onchange="rangeinput16.value = input_text16.value"/>
<input type="range" oninput="input_text16.value = rangeinput16.value" class="form-control-range slider" type="range" min="0.00" max="0.5" value="0.2" id="rangeinput16" step="0.1" onchange="input_text16.value = rangeinput16.value" ></div>
</div></div></div></div></div>

  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Gas
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"><div class="row align-items-center">   <div class="col">
                                    <div class="input-group">
                                                                                                                                                                  <div class="input-group-prepend">
<span class="input-group-text" >Fixed costs per year in €/year</span></div>
<input type="text" class="form-control" name="input_text11" id="input_text11" max="100" min='5' value="15" onchange="rangeinput11.value = input_text11.value"/>
<input type="range" oninput="input_text11.value = rangeinput11.value" class="form-control-range slider" type="range" min="5" max="100" value="20" id="rangeinput11" step="1" onchange="input_text11.value = rangeinput11.value" ></div>
    </div><br><div class="col">
     <div class="input-group"> <div class="input-group-prepend"><span class="input-group-text" >Costs per kWh in €</span></div>
<input type="text" class="form-control" name="input_text12" id="input_text12" max="100" min='5' value="15" onchange="rangeinput12.value = input_text11.value"/>
<input type="range" oninput="input_text12.value = rangeinput12.value" class="form-control-range slider" type="range" min="5" max="100" value="20" id="rangeinput12" step="1" onchange="input_text12.value = rangeinput12.value" ></div>

</div></div></div><br></div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Battery Storage
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"><div class="row align-items-center">
   <div class="col">
    <div class="input-group">
                                                                                                                                                                  <div class="input-group-prepend">
<span class="input-group-text" >Costs per kW inverter power</span></div>
<input type="text" class="form-control" name="input_text10" id="input_text10" max="100" min='5' value="15" onchange="rangeinput10.value = input_text10.value"/>
<input type="range" oninput="input_text10.value = rangeinput10.value" class="form-control-range slider" type="range" min="5" max="100" value="20" id="rangeinput10" step="1" onchange="input_text10.value = rangeinput10.value" ></div>
    </div><br><div class="col">
                                                                                   <div class="input-group"><div class="input-group-prepend">
<span class="input-group-text" >Costs per kWh capacity</span></div>
<input type="text" class="form-control" name="input_text9" id="input_text9" max="100" min='5' value="15" onchange="rangeinput9.value = input_text9.value" />
<input type="range" oninput="input_text9.value = rangeinput9.value" class="form-control-range slider" type="range" min="5" max="100" value="20" id="rangeinput9" step="1" onchange="input_text9.value = rangeinput9.value" ></div>
    </div></div><br><div class="row align-items-center">
 <div class="col">

                                                                                    <div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text" >Costs for maintenance and operations in €/year</span></div>
<input type="text" class="form-control" name="input_text8" id="input_text8" max="100" min='5' value="15" onchange="rangeinput8.value = input_text8.value" />
<input type="range" oninput="input_text8.value = rangeinput8.value" class="form-control-range slider" type="range" min="5" max="100" value="20" id="rangeinput8" step="1" onchange="input_text8.value = rangeinput8.value" ></div>
</div><br><div class="col"><div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text" >Lifetime</span></div>
<input type="text" class="form-control" name="input_text7" id="input_text7" max="100" min='5' value="15" onchange="rangeinput7.value = input_text7.value" />
<input type="range" oninput="input_text7.value = rangeinput7.value" class="form-control-range slider" type="range" min="5" max="100" value="20" id="rangeinput7" step="1" onchange="input_text7.value = rangeinput7.value" ></div>
</div></div></div>
    </div>
  </div>
          <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
         Hydrogen storage
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"><div class="row align-items-center">
   <div class="col">
 <div class="input-group "><br>
<div class="input-group-prepend">
<span class="input-group-text" >Costs per kW electrolyseur power</span></div>
<input type="text" class="form-control" name="input_text4" id="input_text4" max="10000000" value="2500000" onchange="rangeinput4.value = input_text4.value" />
<input type="range" oninput="input_text3.value = rangeinput4.value" class="form-control-range slider" type="range" min="5000" max="10000000" value="2500000" id="rangeinput4" step="50000" onchange="input_text4.value = rangeinput4.value" ></div>
   </div><br><div class="col">
    <div class="input-group ">
<div class="input-group-prepend">
<span class="input-group-text" >Costs per kW fuel cell power</span></div>
<input type="text" class="form-control" name="input_text3" id="input_text3" max="10000000" value="2500000" onchange="rangeinput3.value = input_text3.value" />
<input type="range" oninput="input_text3.value = rangeinput3.value" class="form-control-range slider" type="range" min="5000" max="10000000" value="2500000" id="rangeinput3" step="50000" onchange="input_text3.value = rangeinput3.value" ></div>
</div></div><br><div class="row align-items-center">
   <div class="col">

                                                                                 <div class="input-group ">
<div class="input-group-prepend">
<span class="input-group-text" >Costs per kWh hydrogen capacity</span></div>
<input type="text" class="form-control" name="input_text2" id="input_text2" max="10000000" value="2500000" onchange="rangeinput2.value = input_text2.value" />
<input type="range" oninput="input_text2.value = rangeinput2.value" class="form-control-range slider" type="range" min="5000" max="10000000" value="2500000" id="rangeinput2" step="50000" onchange="input_text2.value = rangeinput2.value" ></div>
   </div><br><div class="col">


    <div class="input-group ">
<div class="input-group-prepend">
<span class="input-group-text" >Costs for maintenance and operations in €/year</span></div>
<input type="text" class="form-control" name="input_text1" id="input_text1" max="10000000" value="2500000" onchange="rangeinput1.value = input_text1.value" />
<input type="range" oninput="input_text1.value = rangeinput1.value" class="form-control-range slider" type="range" min="5000" max="10000000" value="2500000" id="rangeinput1" step="50000" onchange="input_text1.value = rangeinput1.value" ></div>

   </div></div><br><div class="row align-items-center"><div class="col">

     <div class="input-group ">
<div class="input-group-prepend">
<span class="input-group-text" >Lifetime</span></div>
<input type="text" class="form-control" name="input_text5" id="input_text5" max="100" min='5' value="20" onchange="rangeinput5.value = input_text5.value" />
<input type="range" oninput="input_text5.value = rangeinput5.value" class="form-control-range slider" type="range" min="5" max="100" value="20" id="rangeinput5" step="1" onchange="input_text5.value = rangeinput5.value" ></div>


</div><br><div class="col">

     <div class="input-group ">
<div class="input-group-prepend">
<span class="input-group-text" >Interest rate</span></div>
<input type="text" class="form-control" name="input_text6" id="input_text6" max="100" min='5' value="20" onchange="rangeinput6.value = input_text6.value" />
<input type="range" oninput="input_text6.value = rangeinput6.value" class="form-control-range slider" type="range" min="5" max="100" value="20" id="rangeinput6" step="1" onchange="input_text6.value = rangeinput6.value" ></div>
  </h3></div></div></div></div></div></div></div></div></div>

<br>
  <div class="accordion-item">
    <div class="accordion-header" id="headingFive">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
        Tips & Tricks for your building energy system
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body"><div class="container">

    <div class="container"><br>

<div class="row align-items-center">
  <div class="col">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1521618755572-156ae0cdd74d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTI4fHxlbmVyZ3klMjBob3VzZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Detailanalyse Haushaltsstrom</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1413882353314-73389f63b6fd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZWxlY3RyaWNpdHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Detailanalyse Mobilität</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1487875961445-47a00398c267?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGVsZWN0cmljaXR5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Solarstrom</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div></div>
 </div></div></div></div></div></div>


  <br></div>

    <script>
// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the header
var header = document.getElementById("myHeader");

// Get the offset position of the navbar
var sticky = header.offsetTop;

// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
<div class="row my-5">
  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="/">1</a></li>
    <li class="page-item"><a class="page-link" href="page2.html">2</a></li>
    <li class="page-item"><a class="page-link" href="page3.html">3</a></li>
    <li class="page-item disabled">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
</div></div>
    <script src="js/jquery-1.11.3.min.js"></script>

</body>
</html>