<!doctype html>
<html>

<head>
  <title>Stacked Bar Chart</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.bundle.js"></script>
  <style>
    canvas {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  </style>
</head>

<body>
  {% load i18n %}



  <div  style="width:900px;height:300px;">{% trans "Grid supply (gas and electricity)" %}

    <div id="frost-chart"></div>


<canvas id="chart"></canvas></div>
<script>


let page_chart = function(){
let chart = new frappe.Chart( "#frost-chart", { // or DOM element
data: {
labels: ['Without electric storages', ' With electric storages', ],

datasets: [
{
  name: "TotalGasFlowFromGrid", chartType: 'bar',
  values: [{{ toGraph.WithOut_TotalGasFlowFromGrid }}, {{ toGraph.With_TotalGasFlowFromGrid }}, ]
},
{
  name: "ElectricityFromGrid", chartType: 'bar',
  values: [{{ toGraph.WithOut_ElectricityFromGrid }}, {{ toGraph.With_ElectricityFromGrid }},]

},
{
  name: "Autarky", chartType: 'line',
  values: [ {{toGraph.WithOut_Autarky}}, {{toGraph.With_Autarky}},]
}
],

yMarkers: [{ label: "# Grid supply (gas and electricity) in kWh/a'", value: 1200,
options: { labelPos: 'left' }}],
yRegions: [{ label: "# Degree of self-sufficiency", start: 800, end: 1500,
options: { labelPos: 'right' }}]
},

title: "Electricity grid demand",
type: 'axis-mixed', // or 'bar', 'line', 'pie', 'percentage'
height: 300,
colors: ['#faeb5a', '#eb5f73', '#af82b9'],

tooltipOptions: {
formatTooltipX: d => (d + '').toUpperCase(),
formatTooltipY: d => d + ' pts',
}
});

chart.export();}
page_chart();


</script><br>
</body>

</html>