<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">

body {
  background-color: #ebebeb;
}
.col-md-6:first-child {
  background-color: #ebebeb
;
}

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: #023d6b;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 14px 16px;
 text-decoration: none;
  font-size: 19px;
}

/* Change the link color to #adbde3 (blue) on hover */
li a:hover {
  background-color: #ebebeb;
}
    </style>


    <title>Home Page</title>
  </head>
  <body>



  <div id="logo" style="background-image:
    url('/pict/logo.jpg");
    width: 50px; height: 50px; background-size: contain;
    background-repeat:no-repeat; float: left">
</div>
<!---nav bar--->
<ul>
   <li><img alt="logo" class="img-responsive" src="C:\Users\darim\PycharmProjects\pythonProject1\venv\pict\logo.jpg"></li>

  <li><a href="news.asp">Home Page</a></li>
  <li><a href="contact.asp">Admin Profile</a></li>
  <li><a href="about.asp">About</a></li>
    <li><a href="default.asp">Contact</a></li>
    <li><a href="default.asp">Log Out</a></li>
</ul>
 <!---<img alt="logo"  src="C:\Users\darim\PycharmProjects\pythonProject1\venv\pict\logo.jpg">-->

</script>
 </div>
</div>


</html>
</body>
</html>