#app-title > * {
    color: white;
    margin: 0;
    padding: 0;
}
#howto-open {
    white-space: nowrap;
}

#gh-link {
    white-space: nowrap;
}

.accordion-button {
    flex-direction: row;       /* Überschriften nebeneinander */
    align-items: center;
    text-align: center;
    justify-content: space-between; /* optional */
  }
