<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
      <!---plotly carpet--->
   <script src="https://cdn.plot.ly/plotly-2.6.3.min.js"></script>

	<script src="plotly-2.6.3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.6.3.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.8.3.js" charset="utf-8"></script>
<!--making page load faster-->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>



</head>
<body>
{% load plotly_dash %}

{% plotly_app name="SimpleExample" %}

</body>
</html>